In [20]:
import time
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
from bs4 import BeautifulSoup as bs
import pandas as pd
import selenium as sln
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')

In [3]:
def update_keys(var, conn,table, key_table):
    key_value = pd.read_sql_query('select * from {}'.format(key_table),con=conn)
    value = key_value[key_value["Chave"]== table]
    value = value["Valor"].values
    if var != value:
        key_value.loc[key_value["Chave"] == table, "Valor"] = var
        key_value.to_sql(key_table, con=conn, if_exists='replace', index=False)
        return True
    else:
        return False

In [31]:
def check_keys(var, conn,table, key_table):
    key_value = pd.read_sql_query('select * from {}'.format(key_table),con=conn)
    value = key_value[key_value["Chave"]== table]
    value = value["Valor"].values
    print(var)
    print(value)
    if var != value:
        return True
    else:
        return False

# Tabela Tipo Internação

In [35]:
conn_string = 'postgresql://2012120047_Carlos_Santos:2012120047_Carlos_Santos@3.133.102.60/IESB_Saude_Internacao_Hospitalar'
db = create_engine(conn_string)
conn = db.connect()

In [36]:
wd = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
wd.set_page_load_timeout(1800)
wd.get("http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv/qrbr.def")
select_box = wd.find_element("name", "Coluna")
box_object = Select(select_box)
for opt in box_object.options:
    if str(opt.text) == "Subgrupo proced.":
        opt.click()

In [37]:
table = 'tipo_internacao'
select_box = wd.find_element("name", "Arquivos")
box_object = Select(select_box)
a = box_object.options[0]
a.click()
a.click()
name = str(a.text)
print(name)
mes, ano = name.split('/')
button = wd.find_element("name", "mostre")
button.click()
time.sleep(2)
if check_keys(name,conn,table,"controle"):
    nivel2 = wd.find_element("xpath", "/html/body/div/div/div[3]/table[1]/tbody/tr/td[1]/a")
    href = nivel2.get_attribute('href')
    df = pd.read_csv(href,sep=';', encoding='latin-1',skiprows=3,error_bad_lines=False)
    df.columns = df.columns.str.replace(r'\d+', '')
    df.columns = df.columns.str.replace(r' ', '_')
    df.columns = df.columns.str.replace(r'/', '')
    df.columns = df.columns.str.replace(r',', '')
    df.columns = df.columns.str.replace(r'(', '')
    df.columns = df.columns.str.replace(r')', '')
    df.columns = df.columns.str.replace(r'-', '')
    df['Ano'] = ano
    df['Mes'] = mes
    df[["Codigo_Municipio","Municipio"]] = df['Município'].str.split(' ',1,expand=True)
    del df['Município']
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    cols = cols[-1:] + cols[:-1]
    cols = cols[-1:] + cols[:-1]
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    del df['PIB_per_capita']
    tabela = pd.read_sql_query('select * from {}'.format(table),con=conn)
    df = df.append(tabela, ignore_index=True)
    df = df[df['_Coleta_de_material'].notnull()]
    df.to_sql(table, con=conn, if_exists='replace', index=False)
    update_keys(name,conn,table,"controle")
    print("Sucesso, com código de exito 200")
else:
    print("Código de exito 300: Eles não subiram um novo arquivo")

Out/2022
Out/2022
['Set/2022']

/tmp/ipykernel_16180/2726936540.py:16: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(href,sep=';', encoding='latin-1',skiprows=3,error_bad_lines=False)
/tmp/ipykernel_16180/2726936540.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace(r'\d+', '')
/tmp/ipykernel_16180/2726936540.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(r'(', '')
/tmp/ipykernel_16180/2726936540.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(r')', '')
/tmp/ipykernel_16180/2726936540.py:26: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[["Codigo_Municipio","Municipio"]] = df['Município'].str.split(' ',1,expand=True)
/tmp/ipykernel_16180/2726936540.py:35: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(tabela, ignore_index=True)

Sucesso, com código de exito 200

In [38]:
df

,Ano,Mes,Codigo_Municipio,Municipio,_Coleta_de_material,_Diagnóstico_por_endoscopia,_Métodos_diagnósticos_em_especialidades,_Consultas__Atendimentos__Acompanhamentos,_Tratamentos_clínicos_outras_especialidades,_Tratamento_em_oncologia,...,_Transplante_de_orgãos_tecidos_e_células,_Acompanhamento_e_intercorrências_no_pré_e_póstransplante,Total,_Tratamento_de_lesões_envenenamentos_e_outros_decorrentes_de_c,_Pequenas_cirurgias_e_cirurgias_de_pele_tecido_subcutâneo_e_mu,_Cirurgia_das_vias_aéreas_superiores_da_face_da_cabeça_e_do_p,_Cirurgia_do_aparelho_digestivo_orgãos_anexos_e_parede_abdomin,_Coleta_e_exames_para_fins_de_doação_de_orgãos_tecidos_e_cé,_Ações_relacionadas_à_doação_de_orgãos_e_tecidos_para_tra,PIB_per_capita
0,2022,Out,110001,ALTA FLORESTA D'OESTE,-,-,-,63,126,3,...,2,-,228.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,Out,110002,ARIQUEMES,-,-,-,41,328,11,...,-,2,638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,Out,110003,CABIXI,-,-,-,2,26,-,...,-,1,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,Out,110004,CACOAL,-,-,-,13,197,21,...,1,2,396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,Out,110005,CEREJEIRAS,-,-,-,4,77,1,...,-,-,134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233782,2019,Abr,522205,VICENTINOPOLIS,-,-,-,-,23,1,...,-,-,44.0,1,-,1,1,-,-,None
233783,2019,Abr,522220,VILA BOA,-,-,-,1,6,-,...,-,-,13.0,-,-,-,4,-,-,None
233784,2019,Abr,522230,VILA PROPICIO,-,-,1,-,2,-,...,-,-,16.0,1,-,-,1,-,-,None
233785,2019,Abr,530010,BRASILIA,34,1,1,850,6958,471,...,32,60,15275.0,485,128,116,712,1,24,None
233786,2019,Abr,Total,None,983,636,682,32001,417289,29013,...,1210,3360,1031087.0,20548,10560,11098,67037,67,1839,None